Q1: What are data structures, and why are they important?

Data structures are specialized formats for organizing, processing, and storing data. They define the way data is arranged in memory so that it can be accessed and manipulated efficiently. Different types of data structures are used based on the needs of a specific application, allowing for efficient data storage and retrieval.
Arrays

- Lists

- Stacks

- Queues

- Trees

- Graphs

- Hash Tables

- Sets

Importance of Data Structures

- Efficiency in Data Operations

- Optimizing Space and Time Complexity

- Problem-Solving and Algorithms

- Real-World Applications

- Scalability

Q2: Explain the difference between mutable and immutable data types with examples.

Mutable vs Immutable Data Types: Mutable data types are those whose values can be changed (modified) after the object is created. The content of the object can be altered, but the identity of the object remains the same.

Examples of Mutable Data Types:

Lists
Dictionaries

Immutable Data Types: Immutable data types are those whose values cannot be changed once they are created. Any modification to an immutable object results in the creation of a new object, while the original object remains unchanged.


Q3: What are the main differences between lists and tuples in Python?

Lists:
Mutable: Can be changed (add, remove, modify elements).

Syntax: []

Methods: More methods like append(), remove(), etc.

Use: When data needs to change (e.g., dynamic collections).

Tuples:
Immutable: Cannot be changed once created.

Syntax: ()

Methods: Fewer methods, mainly count() and index().

Use: When data should remain constant (e.g., fixed values, dictionary keys).

Key Difference: Lists are for changeable data, while tuples are for fixed, constant data.

Q4: Describe how dictionaries store data.

Structure: Dictionaries store data as key-value pairs.

Keys: Must be unique and immutable (e.g., strings, numbers).

Values: Can be any data type (mutable or immutable).

Hashing: Keys are hashed to allow fast lookups and access (average O(1) time complexity).

Mutable: You can add, modify, or remove key-value pairs.

Unordered: Keys are not stored in any specific order (though insertion order is maintained in Python 3.7+).


Q5: Why might you use a set instead of a list in Python?

Uniqueness: Sets automatically store only unique elements, eliminating duplicates.

Faster Lookup: Sets provide faster membership tests (e.g., checking if an element exists) compared to lists due to their hashing mechanism.

Mathematical Operations: Sets support set operations like union, intersection, and difference, which can be useful for certain algorithms.

Order: Sets are unordered, meaning the order of elements is not preserved, but this can be useful when order doesn't matter.

When you need unique elements.
When fast membership checks are important.
When performing set operations like union or intersection.


Q6: What is a string in Python, and how is it different from a list?

String in Python: A string is a sequence of characters enclosed in single (') or double (") quotes.
Example: "Hello, World!"

Difference Between a String and a List: Mutability:

String: Immutable — You cannot modify individual characters in a string.

List: Mutable — You can modify, add, or remove elements in a list.

Data Type:

String: Holds a sequence of characters (text).

List: Can hold a mix of different data types (e.g., integers, strings, objects).

Operations:
String: Supports operations like slicing and concatenation, but no modifications.

List: Supports operations like adding/removing items, sorting, and more.


Q7: How do tuples ensure data integrity in Python?

Immutability:
Once created, tuples cannot be modified. This means that the data inside a tuple cannot be changed, ensuring that the data remains consistent and unaltered.

Hashable:

Because tuples are immutable, they can be used as keys in dictionaries and elements in sets, which requires hashability. This prevents accidental modification of data.

Data Integrity:
The immutability of tuples ensures that their contents stay intact throughout the program, preventing accidental changes to critical data.


Q8: What is a hash table, and how does it relate to dictionaries in Python?

Hash Table: A hash table is a data structure that stores key-value pairs using a hash function to compute an index (hash) where the value associated with the key is stored.
It allows for fast retrieval of values based on keys (average O(1) time complexity).

Relation to Python Dictionaries: Python dictionaries are implemented using hash tables.
When you use a key in a dictionary, Python computes its hash to quickly find and store the corresponding value.

The keys in dictionaries must be hashable (e.g., immutable types like strings or tuples).


Q9: Can lists contain different data types in Python?

Lists are heterogeneous, meaning they can hold elements of different types (e.g., integers, strings, floats, etc.).


Q10: Explain why strings are immutable in Python.

Strings are immutable in Python to ensure:

Data integrity: Once created, the content can't be changed.

Efficiency: Immutable objects are easier to optimize and cache.

Safety: Prevents unexpected changes when shared across code.

Q11: What advantages do dictionaries offer over lists for certain tasks?

Advantages of Dictionaries over Lists (In Short): Faster lookups: Access values by keys in O(1) time.
Key-value pairing: Ideal for structured data (e.g., names and scores).

Improved readability: Keys make data more meaningful than index positions.


Q12: Describe a scenario where using a tuple would be preferable over a list.

A tuple is preferable when you want to store fixed, read-only data that shouldn't be changed during the program's execution.

A date of birth doesn’t change, so using a tuple ensures data integrity.
Q13: How do sets handle duplicate values in Python?

Sets automatically remove duplicates. They only store unique elements — if you add duplicates, they are ignored.


Q14: How does the “in” keyword work differently for lists and dictionaries?

In lists: in checks for a value.
In dictionaries: in checks for a key.


Q15: Can you modify the elements of a tuple? Explain why or why not.

No, you cannot modify the elements of a tuple in Python.

Why? Tuples are immutable, meaning once they are created, their elements cannot be changed, added, or removed.

This design ensures data integrity, especially for constant or fixed data.

Q16: What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary inside another dictionary.
It allows you to organize complex or hierarchical data.

In [ ]:
 #1)Write a code to create a string with your name and print it?
print("manoj")

manoj

In [ ]:
#2)Write a code to find the length of the string "Hello World"?
print(len("hello world"))

11

In [ ]:
#3)Write a code to slice the first 3 characters from the string "Python Programming"?
print("Python Programming"[0:3])

Pyt

In [ ]:
#4)Write a code to convert the string "hello" to uppercase?
print("hello".upper())

HELLO

In [ ]:
 #5)Write a code to replace the word "apple" with "orange" in the string "I like apple
l=("i like apple")
l.replace("apple","orange")

'i like orange'

In [ ]:
#6)Write a code to create a list with numbers 1 to 5 and print it?
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [ ]:
print

['1,2,3,4,5']

In [ ]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]?
list=[1,2,3,4]
list.append(10)

In [ ]:
list

[1, 2, 3, 4, 10]

In [ ]:
#8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l=[1,2,3,4,5]
l.remove(3)

In [ ]:
l

[1, 2, 4, 5]

In [ ]:
#9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
l=["a","b","c","d"]
print(l[1])

b

In [ ]:
#10)Write a code to reverse the list [10, 20, 30, 40, 50]?
number=[10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

In [ ]:
#11)Write a code to create a tuple with the elements 100, 200, 300 and print it?
t=(100,200,300)
print(t)

(100, 200, 300)

In [ ]:
#12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t=('red','green','yellow')
print(t[-2])

green

In [ ]:
 #13)Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
t=(10,20,5,15)
print(min(t))

5

In [ ]:
#14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
animal=("dog","cat","rabbit")
print(animal.index("cat"))

1

In [ ]:
#15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?
fruit=("apple","mango","watermelon")
print("kiwi"in t)

False

In [ ]:
#16)Write a code to create a set with the elements 'a', 'b', 'c' and print it?
set=("a","b","c")
print(set)

('a', 'b', 'c')

In [ ]:
#17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
#18)Write a code to remove the element 4 from the set {1, 2, 3, 4}?
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [ ]:
#19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
d={"name":"harsh","age":25,"city":"beawar"}
print(d)

{'name': 'harsh', 'age': 25, 'city': 'beawar'}

In [ ]:
#22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
d={"name":"john","age":25}
d["country"]="usa"
print(d)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [ ]:
#23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?
d={'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [ ]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?
d={'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
#26)Write a code to create a list, a tuple, and a dictionary, and print them all?
l=[1,2]
t=(3,4)
d={"a":5}
print(l,t,d)

[1, 2] (3, 4) {'a': 5}

In [ ]:
#27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)?
l = random.sample(range(1, 101), 5)
l.sort()
print(l)

[27, 35, 39, 57, 68]

In [ ]:
#28) Write a code to create a list with strings and print the element at the third index?
l = ["apple", "banana", "cherry", "date"]
print(l[3])

date

In [ ]:
#29) Write a code to combine two dictionaries into one and print the result?
d1 = {"a": 1}; d2 = {"b": 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [ ]:
#30)Write a code to convert a list of strings into a set?
l = ["a", "b", "a"]
s = set(l)
print(s)

{'b', 'a'}